.Button {
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  margin: 0 5px 3px 5px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 12px;
}

.Button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.Button:hover {
  color: lightgray;
  text-decoration: none;
}

.Button-response {
  background-color: #347B8F;
}

.Button-previous {
  background-color: #005EAA;
}
