.Main {
  flex: 1 0 auto;
}

.Main-paragraph, .Main-header {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
  border-radius:25px;
}

.Main-paragraph::before, Main-header::before {
  content:"";
  position:absolute;
  bottom:-2px;
  height:20px;
}

.Main-paragraph::after, Main-header::after {
  content:"";
  position:absolute;
  bottom:-2px;
  height:20px;
}

.Main-from-screener {
	background:#E5E5EA;
	color:black;
}

.Main-from-screener::before {
  left:-7px;
  border-left:20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  transform:translate(0, -2px);
}

.Main-from-screener::after {
  left:4px;
  width:26px;
  background:white;
  border-bottom-right-radius: 10px;
  transform:translate(-30px, -2px);
}

.Main-from-test-taker {
  color:white;
	background:#0B93F6;
	align-self: flex-end;
}

.Main-from-test-taker:before {
  right:-7px;
  border-right:20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  transform:translate(0, -2px);
}

.Main-from-test-taker:after {
  right:-56px;
  width:26px;
  background:white;
  border-bottom-left-radius: 10px;
  transform:translate(-30px, -2px);
}
