.Main {
  font-size: 2rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main-paragraph {
  white-space: pre-wrap;
}

.Main-header {
  font-weight: bold;
  font-size: 2rem;
}

.Main-previous-next {
  flex-grow: 1;
  margin: 10px;
}
