.Prompt {
	background:#E5E5EA;
	color:black;
}

.Prompt::before {
  left:-7px;
  border-left:20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  transform:translate(0, -2px);
}

.Prompt::after {
  left:4px;
  width:26px;
  background:white;
  border-bottom-right-radius: 10px;
  transform:translate(-30px, -2px);
}
